.admin-mypage{
  margin:0 10vw
}
.manage-page-title{
  font-size: 2.0rem;
  color: #666666;  
  border: 1px solid #ccc;
  padding-left:1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:3vh;
}

.manage{
  margin-left:1vw;
}

.admin-show{
  font-size: 1.0rem;
  color: #666666; 
  border-bottom: 1px solid #ccc;
  padding-left:1vw;
  display: flex;
  align-items: center;
}
  


// preschool一覧表示部分
.preschool-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  
  
}

.preschool-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.preschool-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.preschool-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.preschool-img-content {
  position: relative;
}

.preschool-img {
  width: 40vh;
  height: 40vh;
  
}

.preschool-info {
  background-color: #FFF;
  // padding: 1vw;
  text-decoration: none;
}

.preschool-name {
  font-size: 2.5vh;
  color:#E85298;
}
.preschool-category{
  font-size: 2vh;
  color:#E85298;
}
.preschool-concept {
  font-size: 2vh;
  display: flex;
  color: #999999;
  text-decoration: none;
  justify-content: space-between;
}
.preschool-path{
  text-decoration: none;
  color:#E85298;
}
.like-area{
  display:flex;
  align-items: center;
}
.liked_btn, .liked_destroy_btn{
  text-decoration: none;
  font-size: 3vh;
  color:#E85298;
}

.like-count{
  font-size: 2vh;
  color:#E85298
}
.preschool__manage{
  display:flex;
  justify-content: flex-end;
  margin-top:1.5vw;
}
.edit_btn{
  text-decoration: none;
  color: #666666;  
  border: 1px solid #ccc;
  padding:0.3em;
}
.delete_btn{
  text-decoration: none;
  color: #666666;  
  border: 1px solid #ccc;
  margin-left:2vw;
  padding:0.3em;
}