<%= render "shared/header" %>
<div class="admin-index">
  <div class= admin-index-title>
   <span class="main-title">
      運営者の皆様</span>
  </div>
  <div class="for-admin-concept">
  ほいくんナビは運営者の皆様と保護者の皆様を繋ぐサイトです。
  </div>
  <%= image_tag("for-admin.png",class: "for-admin-image")%>
</div>
<%= render "shared/footer" %>