<div class="comments_lists" id="comment-list">
  <% @preschool.comments.each do |comment|%>
    <div class="comments_list">
      <ul class="comment-figure">
        <li><%= link_to "#{comment.user.nickname}さん", "/users/#{comment.user_id}", {class: "comment_user"} %></li>
        <li><%= image_tag "mother.png", class:"mother-icon" %></li>
      </ul > <%#comment-figure%>
      <div class="comment-Ltxt">
        <p class="comment-text"><%= comment.text%></p>
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <div class="comments_manage">
            <%= link_to preschool_comment_path(@preschool,comment), id:"comment-delete", class: :comment_destroy_btn, data: {'preschool-id': @preschool.id, 'comment-id': comment.id} do %>
              <span><i class="fa fa-trash"></i></span>
            <% end %>
          </div><%#comments_manage%>
        <% end %>
      </div><%#comment-Ltxt%>
   <% end %>
  </div><%#comments_list%>
</div><%#comments_lists%>