<%= render "shared/header" %>
<div class="update-form">
  <ul class="done">
     <li class="done-title">投稿完了しました</li>
     <li><%= link_to '一覧画面へ戻る', root_path, class:"return_index" %></li>
  </ul>
</div>
<%= render "shared/footer" %>