<% if user_signed_in? && current_user.already_liked?(@preschool) %>
  <div class= "liked_destroy_area">
    <%= link_to "★", preschool_likes_path(@preschool), data: {id: @preschool.id}, remote:true, method: :delete, class: "liked_destroy_btn" %>
    <span class="like-count"><%= @preschool.likes.count %></span>
  </div>
<% elsif user_signed_in?  %>
  <div class="like_area">
    <%= link_to "☆", preschool_likes_path(@preschool), data: {id: @preschool.id}, remote:true, method: :post, class: "liked_btn" %>
    <span class="like-count"><%= @preschool.likes.count %></span>
  </div>
<% end %>


