.destroy-form{
  margin:10vw 10vw;
  display: flex;
  justify-content: center;
}
.done{
  text-align: center;
}
.done-title{
  width: 50vw;
  color: #666666;
  margin-bottom:3vh;
  border-bottom: solid 1px  #666666;
  padding: 1vw 20vw;
}
.return_index{
    width: 50vw;
    text-decoration: none;
    color: white;
    background-color: #E85298;
    border: solid 1px #E85298;
    cursor:pointer;
    vertical-align: top;
    padding: 1vw 20vw;
    
}

.return_index:hover{
  opacity:0.75
}