
.title-contents {
  min-width: 768px;
  width: 100vw;
  height: auto;
  background-image: image-url('index.preschool.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw;
 
}

.service-title {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.main-concept{
  font-size: 5em;
  color:#E85298;
}

.sub-concept{
  font-size: 2em;
  color: #444444;
}
.three-points-block{
  width: 170px;
}

.search-navi{
  margin-top: 10vh;
  display: block;
  height: 3em;
}
.keyword-search{
    border: 1px solid #999090;
    outline: none;
    color: #666666;
    border-radius: 4px;
    margin-bottom: 1vh;
}
.title-contents{
input[type="text"] {
  width: 40%;
  height: 4em;
}
}

.search-select{
  width: 20%;
  height: 3em;
  border: 1px solid #999090;
  outline: none;
  color: #666666;
  border-radius: 4px;
}
.search-btn{
  border-style: none;
  border-radius: 4px;
  width: 10%;
  height: 3em;
  padding: 0;
  margin:auto;
}




// preschool一覧表示部分
.preschool-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  margin:1vh;
  
}

.preschool-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.preschool-lists {
  width: 100vw;
  padding: 1vh 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.preschool-lists>.list {
  width: 30vh;
  padding: 1vw;
  background-color: #FFF;
  margin: 1vh 2vw;
}
.preschool-img-content {
  position: relative;
}

.preschool-img {
  width: 25vh;
  height: 25vh;
}

.preschool-info {
  background-color: #FFF;
  padding: 1vw;
  text-decoration: none;
}

.preschool-name {
  font-size: 2.5vh;
  color:#E85298;
}
.preschool-category{
  font-size: 2vh;
  color:#E85298;
}
.preschool-concept {
  font-size: 2vh;
  display: flex;
  color: #999999;
  justify-content: space-between;
}
.preschool-path{
  text-decoration: none;
  color: #999999;
}
.like-area{
  display:flex;
  align-items: center;
}
.liked_btn, .liked_destroy_btn{
  text-decoration: none;
  font-size: 3vh;
  color:#E85298;
}
.like-count{
  font-size: 2vh;
  color:#E85298
}
