
.title-contents {
  width: 100vw;
  height: auto;
  background-image: image-url('index.preschool.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw;
  
}

.service-title {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.main-concept{
  font-size: 5em;
  color:#E85298;
}

.sub-concept{
  font-size: 2em;
  color: #444444;
}
.three-points-block{
  width: 170px;
}

.search-navi{
  margin-top: 10vh;
  display: block;
  height: 3em;
}
.keyword-search{
    border: 1px solid #999090;
    outline: none;
    color: #666666;
    border-radius: 4px;
    margin-bottom: 1vh;
}
.title-contents{
input[type="text"] {
  width: 40%;
  height: 4em;
}
}

.search-select{
  width: 20%;
  height: 3em;
  border: 1px solid #999090;
  outline: none;
  color: #666666;
  border-radius: 4px;
}
.search-btn{
  border-style: none;
  border-radius: 4px;
  width: 10%;
  height: 3em;
  padding: 0;
  margin:auto;
  background-color: #666666;
  color: white;
}
.search-btn:hover{
  opacity:0.75

}

// preschool一覧表示部分
.preschool-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.preschool-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.preschool-lists {
  width: 100vw;
}

.preschool-lists>.list {
  width: 25%;
  padding: 1vw;
  background-color: #FFF;
  margin: 1vh 2vw;
}
.preschool-img-content {
  position: relative;
}

.preschool-img {
  max-width: 277px;
  max-height: 200px;
  width: 33vh;
  height: 33vh;
}

.preschool-info {
  width: 33vh;
  background-color: #FFF;
  text-decoration: none;
}

.preschool-name {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
  color:#E85298;
}
.preschool-category{
  font-size: 2vh;
  color: #999999;
}
.preschool-concept {
  font-size: 2vh;
  display: flex;
  color: #999999;
  justify-content: space-between;
}
.preschool-path{
  text-decoration: none;
  color: #999999;
}
.like-area{
  display:flex;
  align-items: center;
}
.liked_btn, .liked_destroy_btn{
  text-decoration: none;
  font-size: 3vh;
  color:#E85298;
}
.like-count{
  font-size: 2vh;
  color:#E85298
}



/* スマホ表示時 */
@media (max-width: 480px) {
  .title-contents {
    min-width: 750px;
    width: 100vw;
    height: auto;
    background-image: image-url('index.preschool.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: space-between;
    padding: 5vh 5vw;
  }
  
  .service-title {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .main-concept{
    font-size: 4em;
    color:#E85298;
  }
  
  .sub-concept{
    font-size: 2em;
    color: #444444;
  }
  .three-points-block{
    width: 150px;
  }
  
  .search-navi{
    margin-top: 7vh;
    display: block;
    height: 3em;
  }
  .keyword-search{
      border: 1px solid #999090;
      outline: none;
      color: #666666;
      border-radius: 4px;
      margin-bottom: 1vh;
  }
  .title-contents{
  input[type="text"] {
    width: 40%;
    height: 4em;
  }
  }
  
  .search-select{
    width: 20%;
    height: 3em;
    border: 1px solid #999090;
    outline: none;
    color: #666666;
    border-radius: 4px;
  }
  .search-btn{
    border-style: none;
    border-radius: 4px;
    width: 10%;
    height: 3em;
    padding: 0;
    margin:auto;
    background-color: #666666;
    color: white;
  }
  .search-btn:hover{
    opacity:0.75
  }
  // preschool一覧表示部分
  .preschool-contents {
    min-width: 750px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .preschool-contents>.title {
    font-size: 5vh;
    line-height: 1.4;
    font-weight: bold;
  }
  
  .preschool-lists {
    width: 100vw;
    min-width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .preschool-lists>.list {
    width: 25%;
    padding: 1vw;
    background-color: #FFF;
  }
    
  
  .preschool-img {
    width: 15vh;
    height: 15vh;
  }
  
  .preschool-info {
    width: 15vh;
    background-color: #FFF;
    text-decoration: none;
  }
  
  .preschool-name {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    color:#E85298;
  }
  .preschool-category{
    font-size: 0.7em;
    color: #999999;
  }
  .preschool-concept {
    font-size: 0.7em;
    display: flex;
    color: #999999;
    justify-content: space-between;
  }
  .preschool-path{
    text-decoration: none;
    color: #999999;
  }
  .like-area{
    display:flex;
    align-items: center;
  }
  .liked_btn, .liked_destroy_btn{
    text-decoration: none;
    font-size: 1em;
    color:#E85298;
  }
  .like-count{
    font-size: 1em;
    color:#E85298
  }
  
  

 }