
.images{
  width: 40vh;
  height: 40vh;
  display: flex;
  margin: auto;
}
.detail-show{
  margin:0 10vw
}
.title{
  font-size: 2.0rem;
  color: #E85298;  
  border-left: 6px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left:1vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom:3vh;
}
.name{
  margin-right: auto;
}
.like-area{
 font-size: 1em;
}
.email-click {
  width: 10vw;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 0.5em;
  color:#E85298;
  text-decoration: none;
  background-color:white;
  border: solid 2px #E85298;
  text-align: center;
  // justify-content: center;
  // background-image: image-url('mail.icon.png');
  // background-repeat: no-repeat;
  
}
.email-icon{
  width: 10%;
  height: auto;
}

.email-click:hover {
 background-color: #E85298;
 color: white;
}
table{
  width: 100%;
  height: auto;
  margin-bottom: 3vh;
}

table th{
  border-bottom: solid 2px #E85298;
  padding: 10px 0;
  color: #666666;
  text-align: center;
  justify-content: center;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: left;
  color: #666666;
  padding: 1vh 1vh;
}
.map-area{
  display: flex;
}
.google-map{
  height: 60vh;
  width: 70vw;
}
.map-open{
  margin-left: 1vw;
  display: block;
}
.map-icon{
  width:10vw;

  height: auto;
}
.map-click{
  text-decoration: none;
  color: #E85298;
}

// コメント欄
.comments_lists{
  margin-bottom: 40px;
  }
  
  .mother-icon{
  width: 100%;
  height: 100%;
  border: 2px solid #E85298;
  border-radius: 50%;
  margin: 0;
  }
  
  /* 画像の下のテキスト */
  .comment_user {
  padding: 5px 0 0;
  font-size: 10px;
  text-align: center;
  }
  
  p.comment-text {
  margin: 0 0 8px;
  }
  
  p.comment-text:last-child {
  margin-bottom: 0px;
  }
  
  /* 回り込み解除 */
  .comment:after,.comment:before {
  clear: both;
  content: "";
  display: block;
  }
  
  /* ----- 左の場合 ----- */
  
  /* 左画像 */
  .mother-icon {
  margin-left: 4px;
  margin-top: -1px;
  float: left;
  width: 60px;
  height: 60px;
  }
  
  /* 左からの吹き出しテキスト */
  .comment-Ltxt {
  color: #444;
  position: relative;
  margin-left: 100px;
  padding: 1.2em;
  border: 3px solid #E85298;
  background-color: #fff;
  border-radius: 5px;
  }
  
  /* 左の三角形を作る */
  .comment-Ltxt:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #E85298;
  top: 15px;
  left: -20px;
  }
  
  .comment-Ltxt:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  top: 15px;
  left: -16px;
  }