.price-form{
  margin: 0 10vw;
}
table{
  width: 100%;
  height: auto;
  margin-bottom: 3vh;
}
table th{
  width: 40%;
  border-bottom: solid 2px #E85298;
  padding: 10px 0;
  color: #666666;
  text-align: center;
  justify-content: center;
}

table td{
  width: 60%;
  border-bottom: solid 2px #ddd;
  text-align: left;
  color: #666666;
  padding: 1vh 1vh;
  justify-content: flex-end;
}

.price-form{
  input[type="text"] {
    width: 80%;
    height: auto;
  }
}
.select-box{
  color:#666666;
}

.choose-area{
  margin:0 auto;
  text-align: center;
  margin: 3vh auto;
}
.return_btn{
  display: inline-block;
  width: 60vw;
  text-decoration: none;
  color: white;
  background-color: #E85298;
  border: solid 1px #E85298;
  cursor:pointer;
  padding: 1vw 10vw;
}
.return_index_btn{
  display: inline-block;
  width: 50vw;
  text-decoration: none;
  background-color: white;
  color: #E85298;
  border: solid 1px #E85298;
  cursor:pointer;
  padding: 1vw 10vw;
  margin: 3vh auto;
}

.return_btn:hover{
  opacity:0.75
}
.arrow{
  color:red;

  text-align: center;
  font-size: 120%;
}
.arrow-area{
  margin-left:1vw;
  border-bottom: solid 1px #ddd;
}
.attention{
  color: #E85298;
}