<%= render "shared/header" %>

<div class="explanation-area">
  <div class= preschool-category-title>
   <span class="main-title">
      保育園の種類って何が違うの？</span>
  </div>
<ul class="cp_list">
	<li>認可保育園</li>
	<li>認可外保育園</li>
	<li>認定こども園</li>
</ul>



  <div class="preschool-category">
    <div class=preschool-title>
      認可保育園
    </div>
    <div class=feature>
    多くの方が「保育園」と聞いた時にイメージされる保育園が認可保育園です。
    </div>
    <ul class="sub-feature">
      <li>所得によって保育料は変わる</li>
      <li>就労状況や家庭の状況を点数化され、点数が高い人から入園ができる。</li>
    </ul>
  </div>
  <div class="preschool-category">
    <div class=preschool-title>
      認可外保育園
    </div>
    <div class=feature>
      認可保育園”以外”の保育園を指します。
      保育料金やサービス内容を運営者が自由に設定ができるため、認可保育園の基準を満たしていても
      あえて認可外保育園として運営している施設もあります。
      企業主導型保育園も認可保育園の一部ですが、こちらは2016年から始まった新しい制度で、その他の認可外保育園との大きな違いは
      働いているお母さんお父さんを対象としているため、預けるには就労証明書などが必要という点です。
    </div>
    <ul class="sub-feature">
      <li>所得によって保育料は変わらない</li>
      <li>預けるための制限はなく、働いていなくても預けられる</li>
      <li>※認可外保育園の中でも企業主導型保育園の場合は就労証明書、保育認定書（※呼び方は自治体によって変わります）が必要</li>
      <li>開園時間が長い保育園が多く、不規則な預け方にも対応しやすい</li>
      <li>自治体ではなく、直接申し込むため、預け先を自由に設定ができる</li>
    </ul>
  </div>
  <div class="preschool-category">
    <div class=preschool-title>
      認定こども園  
    </div>
    <div class=feature>
    幼稚園と保育所の機能や特徴をあわせ持ち、地域の子育て支援も行う施設です。</div>
    <ul class="sub-feature">
      <li>幼保連携型、地方最良型などタイプによって果たす機能が異なる</li>
      <li>認可保育園と同様に入園の優先順位がある</li>
      <li>１号〜３号までのどの保育認定を取得しているかによって保育料金や預けられる時間が変わる</li>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>