.registrations-area{
  margin: 5vw 15vw;
}

.resister-title{
  color: #E85298;  
  border: 1px solid #ccc;
  padding-left:1vw;
  align-items: center;
  justify-content: center;
  margin-bottom:3vh;
}
.main-title{
  font-size: 2.0rem;
  justify-content: center;
}

.sub-title{
  font-size: 1.0rem;
  color: #999999;
}

.registrations-area{
  input[type="text"] {
    width: 100%;
    height: 7vh;
  }
}
.registrations-area{
  input[type="password"] {
    width: 100%;
    height: 7vh;
  }
}

.registrations-area{
  input[type="email"] {
    width: 100%;
    height: 7vh;
  }
}
.user-field {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text {
  width: 100%;
  height: 20%;
  color: #E85298;  
}
.actions{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  align-items: center;
}
.register-btn{
  width: 25vw;
  text-decoration: none;
  color: white;
  background-color: #E85298;
  border: solid 1px #E85298;
  padding: 1vw 1vw;
  cursor:pointer;
  vertical-align: top;
}
.register-btn:hover{
  opacity:0.5
}
.google-resister{
  width: 25vw;
  text-decoration:none;
  color: #666666;
  border:1px solid  #999999;
  padding: 1vw 1vw;
  display: inline-block; 
}
.google-icon{
  width:4vw;
  margin-right:3vw;
  vertical-align: middle;
}